body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, hsla(130, 80%, 49%, 0.59), hsla(309, 86%, 37%, 0.835));
}

.calculator {
    border: 2px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: auto;
}

#display {
    width: calc(100% - 20px);
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 18px;
    border: none;
    outline: none;
    text-align: right;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    padding: 10px;
}

button {
    padding: 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #61dafb;
    color: #fff;
    transition: background-color 0.3s;
}

button:active {
    background-color: #4fa3d1;
}